#define($_content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<title>顺丰海淘</title>
<link href="http://7mnpdt.com1.z0.glb.clouddn.com/common.css" rel="stylesheet">
<link href="http://7mnpdt.com1.z0.glb.clouddn.com/index.css" rel="stylesheet">
</head>
<body>
  #foreach ($el in $content[0].moduleCellInfo)
  <div class="banner" style="background: url(${el.property.imgUrl}) no-repeat center;"></div>
  #end
 
  #foreach ($el in $content)
    #if($velocityCount > 1 )
      #if ($velocityCount % 4 == 2)
  <div class="m1">
    <div class="mh" style="background: url(${el.moduleCellInfo[0].property.imgUrl}) no-repeat center;">
    </div>
      #elseif ($velocityCount % 4 == 3)
    <div class="mb pm">
      <div class="mr1 clearfix" style="background: url(${el.moduleCellInfo[0].property.imgUrl}) no-repeat;">
      #elseif ($velocityCount % 4 == 0)
        <div class="product fr" data-itemId="${el.moduleCellInfo[0].property.itemId}">
          <div class="product-r1">
            <a href="${el.moduleCellInfo[0].property.link}">
              <img src="${el.moduleCellInfo[0].property.imgUrl}" alt="" >
            </a>
            <span></span>
          </div>
          <h3><a href="${el.moduleCellInfo[0].property.link}">${el.moduleCellInfo[0].property.name}</a></h3>
          <div class="product-r2">
            <span class="product-r2c1">促销价：<b>￥</b><strong></strong></span>
            <span class="product-r2c2">零售价：￥</span>
          </div>
          <div class="product-btn"><a href="${el.moduleCellInfo[0].property.link}">立即购买 &gt;</a></div>
        </div>
      </div>

      #elseif ($velocityCount % 4 == 1)
      <div class="mr2">
        <ul class="clearfix">
          #foreach ($cell in $el.moduleCellInfo)
          <li class="product" data-itemId="${cell.property.itemId}">
            <div class="product-r1">
              <a href="${cell.property.link}">
                <img src="${cell.property.imgUrl}" alt="" >
              </a>
              <span></span>
            </div>
            <h3><a href="${cell.property.link}">${cell.property.name}</a></h3>
            <div class="product-r2">
              <span class="product-r2c1">促销价：<b>￥</b><strong></strong></span>
              <span class="product-r2c2">零售价：￥</span>
            </div>
            <!--售罄状态-->
            <div class="product-btn"><a href="${cell.property.link}">敬请期待 ...</a></div>
            ##<div class="mask"></div>
            <div class="icon-sold"></div>
            <!--售罄状态-->
          </li>
          #end
        </ul>
      </div>
    </div>
  </div>
      #end
    #end
  #end
  <a href="#" class="btn-top">回到顶部</a>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
#end
